/* geral*/
.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 0 auto;
}
/* Logo */
.content .img {
    grid-column: 1;
}
.content img {
    width: 70px;
}
/* Titulo */
h1 {
    font-size: 2rem;
    grid-column: 2;
    justify-self: center;
}
/* menu*/
.menu {
    position: relative;
    grid-row: 1;
    grid-column: 3;
    justify-self: right;
    margin-right: 10px;
}
.menu img {
    width: 20px;
    cursor: pointer;
}
.menu .menuList {
    display: none;
    position: absolute;
    right: 0;
    background-color: black;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  
}
.menu .menuList li {
    margin: 5px 0;
}
.menu .menuList a {
    color: white;
}
.menu.ativo .menuList {
    display: block;   
}
/* Opções */
.opções {
    margin-top: 20px;
    grid-column: 1/4;
    display: flex;
    position: relative;
}
.opções a {
    color: white;
}
.opções div {
 padding-bottom: 5px;
}
.opções .index a {
    background-color: #2196f3;
    padding:6px 10px;
    border-top-right-radius: 10px;
    transition: 0.3s;
}
.opções .index a:hover {
    padding-top: 10px;
    border-top-right-radius: 10px;
    transition: 0.3s;
}
.opções .fazer a{
    background-color: tomato;
    padding:6px 10px;
    border-top-right-radius: 10px;
    transition: 0.3s;
}
.opções .fazer a:hover {
    padding-top: 10px;
    border-top-right-radius: 10px;
    transition: 0.3s;
}
.opções .andamento a {
    background-color: tan;
    padding:6px 10px;
    border-top-right-radius: 10px;
    transition: 0.3s;
}
.opções .andamento a:hover {
    padding-top: 10px;
    border-top-right-radius: 10px;
    transition: 0.3s;
}
.opções .concluido a {
    background-color: #2196f3;
    padding:6px 10px;
    border-top-right-radius: 10px;
    transition: 0.3s;
}
.opções .concluido a:hover {
    padding-top: 10px;
    border-top-right-radius: 10px;
    transition: 0.3s;
}
/* Nova Check List */
.novaCheckList {
    display: flex;
    margin: 5px;
    margin-top: 20px;
}
.novaCheckList img{
    width: 50px;
    cursor: pointer;
}
.novaCheckList details:open >label {
    position: absolute;
    top: 150px;
    left: 70px;
}
.novaCheckList input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    padding-right: 20px;
}
.novaCheckList button {
    border: none;
    padding: 8px;
    border-radius: 5px;
    background-color: #137fd9;
    color: white;
}

